# Archivos de entorno y claves (CRÍTICO)
.env
*.pem
*.crt

# Archivos de compilación de Flutter (jks/keystore)
*.jks
*.keystore
key.properties

# Carpetas de Node.js
node_modules/

# Carpetas de compilación de Flutter
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies